
MARIADB_AUTO_UPGRADE=true
MARIADB_ROOT_HOST=localhost
MARIADB_MYSQL_LOCALHOST_USER=true

MARIADB_ROOT_PASSWORD="mariadb"

# TODO: confirm db name
MARIADB_DATABASE="blog"
MARIADB_USER="fishy"
MARIADB_PASSWORD="fishy"
