a {
  color: pink;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.secret {
  opacity: 0;
  transition: opacity 1s; }
  .secret:hover {
    opacity: 1; }

.right {
  float: right; }

.left {
  float: left; }

.clear {
  clear: both; }

.yellow {
  color: yellow; }

.is-mobile {
  display: block; }
  @media (min-width: 800px) {
    .is-mobile {
      display: none; } }

.is-desktop {
  display: none; }
  @media (min-width: 800px) {
    .is-desktop {
      display: block; } }

.is-fullscreen {
  display: none; }
  @media (min-width: 1100px) {
    .is-fullscreen {
      display: block; } }

@font-face {
  font-family: "Abel";
  src: url("/font/Abel.ttf.woff") format("woff"), url("/font/Abel.ttf.eot"), url("/font/Abel.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: Tahoma, Helvetica, "Sans Serif";
  font-size: 10pt;
  color: #fff;
  text-shadow: #000 1px 1px 2px; }

::selection {
  background-color: rgba(183, 42, 155, 0.5);
  text-shadow: none; }

::-moz-selection {
  background-color: rgba(183, 42, 155, 0.5);
  text-shadow: none; }

h1, h2, h3, h4, h5 {
  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0px; }

h1 {
  font-size: 280%; }

h2 {
  font-size: 240%; }

h3 {
  font-size: 160%; }

.title {
  color: #fff; }
  .title:hover {
    text-decoration: none; }

.byline {
  font-style: italic;
  font-size: 80%;
  margin-bottom: 1em; }

article img {
  max-width: 100%; }

.small {
  font-size: 80%; }

.pagination a {
  padding-left: 100px; }

body {
  background-color: #871D85;
  padding-bottom: 4em;
  margin: 0; }

.background {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  @media (min-width: 800px) {
    .background {
      position: relative;
      overflow: visible; } }

.stars {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; }

.star {
  position: absolute; }
  .star.desktop {
    display: none; }
  @media (min-width: 800px) {
    .star.desktop {
      display: block; } }

.atmosphere {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  min-height: 100vh;
  background-image: url(/img/background.svg);
  background-repeat: no-repeat;
  background-position: 45%;
  background-size: 400% 100%; }
  @media (min-width: 800px) {
    .atmosphere {
      background-position: 47%;
      background-size: 300% 100%; } }
  @media (min-width: 1100px) {
    .atmosphere {
      background-position: 47%;
      background-size: 200% 100%; } }

.path, .cloud {
  position: absolute;
  display: none;
  transform: scaleX(-1) translate(40%, 0%); }

.clouds {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  overflow: hidden; }

.cloud {
  position: absolute;
  top: 0;
  left: 0; }

.header {
  box-sizing: border-box;
  position: fixed;
  height: 7.5em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em 2em 2em; }
  @media (min-width: 800px) {
    .header {
      display: none;
      width: 400px; } }
  .header .hamburger {
    cursor: pointer;
    width: 20%; }
    @media (min-width: 400px) {
      .header .hamburger {
        width: auto;
        padding: 0.5em 1em 1em 1em; } }
  .header .links {
    margin-top: 2em; }
    .header .links a {
      margin-right: -1em;
      padding: 1.1em;
      display: block; }
      .header .links a:hover {
        background-color: rgba(0, 0, 0, 0.25);
        text-decoration: none; }

.sidebar {
  box-sizing: border-box;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1em 3em 0 0;
  transition: opacity 0.4s;
  width: 100%;
  opacity: 0;
  text-align: right;
  z-index: -1; }
  .sidebar.open {
    z-index: 10;
    opacity: 1;
    display: block;
    clear: both; }
  .sidebar .text {
    display: none; }
  .sidebar .show {
    display: block;
    visibility: visible; }
  .sidebar .hide {
    display: none;
    visibility: hidden; }
  @media (min-width: 800px) {
    .sidebar {
      padding: 1em 1em 0 0;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
      position: static;
      z-index: 10;
      margin-top: 0;
      border-right: 1px solid #fff;
      width: 250px;
      display: block; }
      .sidebar .text {
        display: block; } }
  @media (min-width: 1100px) {
    .sidebar {
      width: 400px; } }
  .sidebar .links {
    margin-top: -1em; }
    @media (min-width: 800px) {
      .sidebar .links {
        margin-top: 2em; } }
    .sidebar .links a {
      margin-right: -1em;
      padding: 1.1em;
      display: block; }
      .sidebar .links a:hover {
        background-color: rgba(0, 0, 0, 0.25);
        text-decoration: none; }

section.body {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 8.5em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto; }
  @media (min-width: 800px) {
    section.body {
      position: relative;
      overflow: visible;
      top: 0;
      background: none;
      width: 760px;
      padding: 1.3em; } }
  @media (min-width: 1100px) {
    section.body {
      width: 1010px; } }

section.content {
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  font-size: 15pt; }
  @media (min-width: 800px) {
    section.content {
      font-size: 11pt;
      background-color: rgba(0, 0, 0, 0.5);
      width: 500px;
      margin-top: 0;
      border-left: 1px solid #fff;
      float: right; } }
  @media (min-width: 1100px) {
    section.content {
      font-size: 10pt;
      width: 600px; } }
