a.title {
    color: #fff;
}

a.title:hover {
    text-decoration: none;
}

.secret {
    opacity: 0;
    transition: opacity 1s;
}

.secret:hover {
    opacity: 1;
}

.right {
    float: right;
}

.left {
    float: left;
}

body {
    background-color: #871D85;
    position: relative;
    margin:0;
    overflow-x: hidden; 
    font-family:Tahoma, Helvetica, "Sans Serif";
    font-size:10pt;
    color:#fff;
    text-shadow:#000 1px 1px 2px; 
}

#background { position: absolute; z-index:-1; width:100%; height:100%; overflow:hidden; }
#foreground { position: absolute;  width:100%; height:100%; }

#magic {
    margin-top: 100px;
}

#space div { background-color:rgba(135, 30, 133, 0.7); position:absolute; width:100%; height:4000px;
            border-top-left-radius: 1000px;
            border-top-right-radius: 1000px;
}

#sky div { background-color:rgba(170, 210, 255, 0.1); position:absolute; width:100%; height:4000px;
            border-top-left-radius: 1000px;
            border-top-right-radius: 1000px;
}

#earth div { position:absolute; width:100%; height:4000px;
            border-top-left-radius: 1000px;
            border-top-right-radius: 1000px;
            z-index:2;
}

#surface {  background-color:rgba(30, 80, 10, 1);  }
#crust {  background-color:rgba(140, 80, 10, 0.4);  }
#mantle {  background-color:rgba(255, 80, 10, 0.4);  }



div#exosphere { background-color:rgba(255, 63, 188, 0.4); top:10px; }

#words { padding: 32px; width:1024px; margin:0px auto; }
#words > div { margin-top:-115px; }	
#nav { width:386px;
        float: left;
        background-color:rgba(0, 0, 0, 0.5);
        border-right: 1px solid #fff;
        text-align:right;
        padding:14px;
        padding-left:0px;
        padding-bottom:0px;
        }
        
h1, h2, h3, h4, h5 { font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;  font-style: normal;
font-weight: normal;  margin:0px;  }
        
h1 { font-size:280%; }
h2 { font-size:240%; }
h3 { font-size:160%; }


#content { width:572px; float:left; margin-left:10px;
            background-color:rgba(0, 0, 0, 0.5);
            border-left:1px solid #fff;
            padding:14px;}

a { color:pink; text-decoration:none; }
a:hover { text-decoration:underline; }

.links { margin-top:28px; }
.links a {  margin-right:-14px; margin-bototm:-14px; padding:14px; display:block;  }
.links a:hover { background-color:rgba(0, 0, 0, 0.25); text-decoration:none; }

.clear { clear: both; }
.yellow { color:yellow; }

#trees { position:absolute; z-index:1 }
#trees div {  }
#earth div { z-index:3 }

            #forest {
                position:absolute;
                z-index:4;
                  -webkit-animation:earthspin 1200s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:linear;
      -moz-animation:earthspin 1200s;
      -moz-animation-iteration-count:infinite;
      -moz-animation-timing-function:linear;
      -o-animation:earthspin 1200s;
      -o-animation-iteration-count:infinite;
      -o-animation-timing-function:linear;
      
            }
            
            #clouds {
                position:absolute;
                height:750px;
                width:750px;
                  -webkit-animation:cloudspin 1800s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:linear;
      -moz-animation:cloudspin 1800s;
      -moz-animation-iteration-count:infinite;
      -moz-animation-timing-function:linear;
       -o-animation:cloudspin 1800s;
      -o-animation-iteration-count:infinite;
      -o-animation-timing-function:linear;
            }

            .cloud {
                position: absolute;
/*				display:none;*/
            }
            
            .tree {
                position: absolute;
/*				display:none;*/
            }
            
            #stars { position: relative; z-index:-2; }
            
            .star {
                position: absolute; z-index:-2;
            }
            

             @-webkit-keyframes earthspin {
                0%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: 50% 50%; }
                100% {-webkit-transform: rotate(360deg); -webkit-transform-origin: 50% 50%; }
            }

            @-moz-keyframes earthspin {      
                0%   {-moz-transform: rotate(0deg); }
                100% {-moz-transform: rotate(360deg);}
            }
            @-o-keyframes earthspin {      
                0%   {-moz-transform: rotate(0deg); }
                100% {-moz-transform: rotate(360deg);}
            }
             @-webkit-keyframes cloudspin {
                0%   {-webkit-transform: rotate(360deg); -webkit-transform-origin: 50% 50%; }
                100% {-webkit-transform: rotate(0deg); -webkit-transform-origin: 50% 50%; }
            }

            @-moz-keyframes cloudspin {      
                0%   {-moz-transform: rotate(0deg); }
                100% {-moz-transform: rotate(360deg);}
            }
            @-o-keyframes cloudspin {      
                0%   {-moz-transform: rotate(0deg); }
                100% {-moz-transform: rotate(360deg);}
            }
            

.construction img {
    float: left;
    max-width:100%;
}
