@font-face {
  font-family: 'Abel';
  src: url("Abel.ttf.woff") format("woff"), url("Abel.ttf.eot"), url("Abel.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: Tahoma, Helvetica, "Sans Serif";
  font-size: 10pt;
  color: #fff;
  text-shadow: #000 1px 1px 2px; }

body {
  background-color: #871D85;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0; }

.background {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -18%;
  right: 0; }

.atmosphere div {
  background-color: rgba(170, 210, 255, 0.1);
  position: absolute;
  left: -100%;
  width: 300%;
  height: 200%;
  border-radius: 100%; }
  @media (min-width: 480px) {
    .atmosphere div {
      left: -50%;
      width: 200%;
      height: 200%; } }
  @media (min-width: 800px) {
    .atmosphere div {
      left: -15%;
      width: 130%;
      height: 200%; } }

.exo.sphere {
  background-color: rgba(255, 63, 188, 0.4);
  top: 9em; }

.thermo.pause {
  top: 11.5em; }

.thermo.sphere {
  top: 15em; }

.meso.pause {
  top: 17em; }

.meso.sphere {
  top: 17.3em; }

.strato.pause {
  top: 100%; }

.strato.sphere {
  top: 105%; }

.tropo.pause {
  top: 200%; }

.tropo.sphere {
  top: 205%; }
