a {
  color: pink;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.secret {
  opacity: 0;
  transition: opacity 1s; }
  .secret:hover {
    opacity: 1; }

.right {
  float: right; }

.left {
  float: left; }

.clear {
  clear: both; }

.yellow {
  color: yellow; }

@font-face {
  font-family: "Abel";
  src: url("/font/Abel.ttf.woff") format("woff"), url("/font/Abel.ttf.eot"), url("/font/Abel.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: Tahoma, Helvetica, "Sans Serif";
  font-size: 10pt;
  color: #fff;
  text-shadow: #000 1px 1px 2px; }

h1, h2, h3, h4, h5 {
  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0px; }

h1 {
  font-size: 280%; }

h2 {
  font-size: 240%; }

h3 {
  font-size: 160%; }

html, body {
  min-height: 100vh; }

body {
  background-color: #871D85;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0; }

.background {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.atmosphere {
  min-height: 100vh;
  background-image: url(/img/background.svg);
  background-repeat: no-repeat;
  background-position: 47%;
  background-size: 200% 100%;
  padding-bottom: 4em; }

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; }

.star {
  position: absolute; }
  .star.desktop {
    display: none; }
  @media (min-width: 800px) {
    .star.desktop {
      display: block; } }

.sidebar {
  box-sizing: border-box;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid #fff;
  text-align: right;
  padding: 1em 1em 0 0; }
  .sidebar .title {
    color: #fff; }
    .sidebar .title:hover {
      text-decoration: none; }
  .sidebar .links {
    margin-top: 2em; }
    .sidebar .links a {
      margin-right: -1em;
      padding: 1.1em;
      display: block; }
      .sidebar .links a:hover {
        background-color: rgba(0, 0, 0, 0.25);
        text-decoration: none; }

section.body {
  width: 1010px;
  margin: 0 auto;
  padding: 1.3em; }

section.content {
  box-sizing: border-box;
  width: 600px;
  height: 1800px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 1px solid #fff;
  padding: 14px; }
