a {
    color:pink;
    text-decoration:none;

    &:hover {
        text-decoration:underline; 
    }
}

.secret {
    opacity: 0;
    transition: opacity 1s;

    &:hover {
        opacity: 1;
    }
}

.right { float: right; }
.left { float: left; }
.clear { clear: both; }
.yellow { color:yellow; }
