body {
    background-color: #871D85;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
}

.background {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -18%;
    right: 0;
}

.atmosphere div {
    background-color:rgba(170, 210, 255, 0.1);
    position:absolute;
    left: -15%;
    width: 130%;
    height: 200%;
    border-radius: 100%;
}

.exo.sphere {
    background-color:rgba(255, 63, 188, 0.4);
    top: 9em;
}

.thermo {
    &.pause {
        top: 11.5em;
    }

    &.sphere {
        top: 15em;
    }
}

.meso {
    &.pause {
        top: 17em;
    }

    &.sphere {
        top: 17.3em;
    }
}

.strato {
    &.pause {
        top: 100%;
    }

    &.sphere {
        top: 105%;
    }
}

.tropo {
    &.pause {
        top: 200%;
    }

    &.sphere {
        top: 205%;
    }
}
