section.body {
    width: 1010px;
    margin: 0 auto;
    padding: 1.3em;
}

section.content {
    box-sizing: border-box;
    width:600px;
    height: 1800px;
    margin-left:10px;
    background-color:rgba(0, 0, 0, 0.5);
    border-left:1px solid #fff;
    padding:14px;
}
