.sidebar {
    box-sizing: border-box;
    width: 400px;
    background-color:rgba(0, 0, 0, 0.5);
    border-right: 1px solid #fff;
    text-align:right;
    padding: 1em 1em 0 0;

    .title {
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }

    .links {
        margin-top:28px;

        a {
            margin-right:-1em;
            padding:14px;
            display:block;

            &:hover {
                background-color:rgba(0, 0, 0, 0.25);
                text-decoration:none;
            }
        }
    }
}
