.sidebar {
    box-sizing: border-box;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.75);
    padding: 1em 1em 0 0;
    transition: opacity 0.4s;
    width: 100%;
    opacity: 0;
    z-index: -1;

    &.open {
        z-index: 10;
        opacity: 1;
        display: block;
        clear: both;
    }

    .text {
        display: none;
    }
    
    @media (min-width: 800px) {
        background-color:rgba(0, 0, 0, 0.5);
        opacity: 1;
        position: static;
        z-index: 10;
        margin-top: 0;
        border-right: 1px solid #fff;
        text-align:right;
        width: 250px;
        display: block;

        .text {
            display: block;
        }
    }

    @media (min-width: 1100px) {
        width: 400px;
    }

    .links {
        margin-top: -1em;
    
        @media (min-width: 800px) {
            margin-top:2em;
        }
        
        a {
            margin-right:-1em;
            padding:1.1em;
            display:block;

            &:hover {
                background-color:rgba(0, 0, 0, 0.25);
                text-decoration:none;
            }
        }
    }
}
