body {
    background-color: #871D85;
    padding-bottom: 4em;
    margin: 0;
}

.background {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @media (min-width: 800px) {
        position: relative;
        overflow: visible;
    }
}

.stars {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.star {
    position: absolute;

    &.desktop {
        display: none;
    }

    @media (min-width: 800px) {
        &.desktop {
            display: block;
        }
    }
}

.atmosphere {
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    min-height: 100vh;

    background-image: url(/img/background.svg);
    background-repeat: no-repeat;
    background-position: 45%;
    background-size: 400% 100%;

    @media (min-width: 800px) {
        background-position: 47%;
        background-size: 300% 100%;
    }

    @media (min-width: 1100px) {
        background-position: 47%;
        background-size: 200% 100%;
    }
}

.path, .cloud {
    position: absolute;
    display: none;
    transform: scaleX(-1) translate(40%, 0%);
}

.clouds {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.cloud {
    position: absolute;
    top: 0;
    left: 0;
}
