section.body {
    background-color:rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 8.5em;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    @media (min-width: 800px) {
        position: relative;
        overflow: visible;
        top: 0;
        background: none;
        width: 760px;
        padding: 1.3em;
    }

    @media (min-width: 1100px) {
        width: 1010px;
    }
    
    margin: 0 auto;
}

section.content {
    box-sizing: border-box;
    padding:1em;
    width: 100%;
    font-size: 15pt;
    
    @media (min-width: 800px) {
        font-size: 11pt;
        background-color:rgba(0, 0, 0, 0.5);
        width:500px;
        margin-top: 0;
        border-left:1px solid #fff;
        float: right;
    }

    @media (min-width: 1100px) {
        font-size: 10pt;
        width:600px;
    }
}
