.header {
    box-sizing: border-box;
    position: fixed;
    height: 7.5em;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 1em 2em 2em;

    @media (min-width: 800px) {
        display: none;
        width: 400px;
    }

    h1 {
      display: inline-block;
    }

    i.hamburger {
        padding: 0;
        vertical-align: middle;
        line-height: 1.5em;
    }

    .hamburger {
        cursor: pointer;
        width: 20%;

        @media (min-width: 400px) {
            width: auto;
            padding:0.5em 1em 1em 1em;
        }
    }

    .links {
        margin-top:2em;

        a {
            margin-right:-1em;
            padding:1.1em;
            display:block;

            &:hover {
                background-color:rgba(0, 0, 0, 0.25);
                text-decoration:none;
            }
        }
    }
}
